// FOOTER STYLE
footer {
    padding: 150px 0;

    .menu-title {
        font-size: 19px;
        line-height: 19px;
        font-weight: 500;
        letter-spacing: 1px;
        color: $primary-color;
    }

    ul {
        padding-top: 75px;

        li {
            @include footer-elements;

            &:not(:last-of-type) {
                margin-bottom: 30px;
            }

            a {
                @include footer-elements;

                &:hover {
                    @include footer-elements;
                }
            }
        }

        &.contact li:last-of-type {
            color: rgba(16, 16, 16, 0.5);
        }

    }
}