// GLOBAL VARIABLES

// Colors
$primary-color: #2b055d;
$secondary-color: #00dbb0;
$dark-color: #101010;
$light-color: rgba(255, 255, 255, 0.7);

// Font-family
$custom-font: GalanoGrotesque;
